mat-card
  text-align: center
  padding: 30px 20px
  margin: 10% auto
  border: 2px solid #cc4c5c

.button
  margin: 15px auto

mat-spinner
  margin: 0 auto

small
  font-size: 16px
  margin-bottom: 20px
  color: #cc3c3c

@media screen and (min-width: 992px)
  .mat-card
    max-width: 55rem

