<mat-card>
  <h2>Creat your message</h2>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" required matInput ngModel #author="ngModel"/>
      </mat-form-field>
      <small
        *ngIf="author.touched && author.invalid"
      >
        Enter your name!
      </small>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea name="message" required matInput ngModel #message="ngModel"></textarea>
      </mat-form-field>
      <small
        *ngIf="message.touched && message.invalid"
      >
        Enter your message!
      </small>
      <button
        mat-raised-button
        class="button"
        [disabled]="form.invalid || loading"
        color="primary"
      >
        Creat
      </button>
    </form>
  </mat-card-content>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</mat-card>
