.mat-card
  margin: 15px auto
  border-radius: 10px
  border: 2px solid #cc4c5c

.card-time
  text-align: center
  font-size: 16px
  font-weight: bold
  font-style: italic
  letter-spacing: 1px
  padding: 5px
  margin-bottom: 15px
  border-radius: 5px
  background: #cc4c5c

.mat-card-title
  padding: 8px

.mat-card-title > b
  letter-spacing: 1px

.mat-card-content
  margin-top: 10px

.mat-card-content  p  b
  font-size: 16px
  letter-spacing: 1px

.mat-spinner
  margin: 20% auto

@media screen and (min-width: 992px)
  .mat-card
    max-width: 55rem

