<ng-container *ngIf="!loading, else spinner">
  <div *ngFor="let message of arrMessages">
    <mat-card>
      <p class="card-time">Date: {{ message.datetime }}</p>
      <mat-card-title-group>
        <mat-card-title><b>Author:</b> {{ message.author }}</mat-card-title>
      </mat-card-title-group>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <p><b>Message:</b> {{ message.message }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

