.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.mat-nav-list a {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 5px 0;
  margin: 10px 0;

}

.mat-nav-list a:hover {
  background: #cc4c5c;
}

.active-link {
  background: #cc4c5c !important;
}

.content {
  padding: 10px 20px;
}
